h4 > .badge {
    font-size: 1.3rem
}

p > .badge {
    font-size: .75rem
}

#dashboard-desktop,
#mobile-menu,
#scan {
    margin-top: 20px;
}

a.disabled {
    pointer-events: none;
    color: #767676;
}

.title-bar-title > a {
    color: white;
}
